@font-face {
    font-family: 'din_bold';
    src: url('fonts/din_alternate_bold-webfont.eot');
    src: url('fonts/din_alternate_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/din_alternate_bold-webfont.woff2') format('woff2'),
         url('fonts/din_alternate_bold-webfont.woff') format('woff'),
         url('fonts/din_alternate_bold-webfont.ttf') format('truetype'),
         url('fonts/din_alternate_bold-webfont.svg#din_alternatebold') format('svg');
    font-weight: normal;
    font-style: normal;
}
