// TODO: add these classes to tachyons build, by adding onto tachyons/src files, then compiling
// that way we can leveral modifier breakpoints -ns, -m, -l.
.active {
  color: black;
}

.sticky {
  position: sticky;
}

.h6 {
  height: 25rem;
}

.f8 {
  font-size: 0.20rem;
}

.f9 {
  font-size: 0.18rem;
}

.measure-960 {
  max-width: 60rem;
}

.measure-1024 {
  max-width: 64rem;
}

.measure-70 {
  max-width: 70rem;
}

.measure-80 {
  max-width: 80rem;
}

.min-height-1 {
  min-height: 1rem;
}

.min-height-2 {
  min-height: 2rem;
}

.min-height-3 {
  min-height: 2rem;
}

.vh-85 {
  height: 85vh;
}

.min-height-vh-75 {
  min-height: 75vh;
}

.min-height-40 {
  min-height: 40rem;
}

.shadow-custom {
  box-shadow: 0px 6px 16px 0 rgba(0, 0, 0, 0.04);
}

.input-reset:default {
  @extend .input-reset !optional;
  border: none;
}
